{% extends 'base.html' %}
{% load filtros %}

{% block 'title' %}Informações do livro{% endblock  %}

{% block 'content' %}
<div class='container'>
    <br>
        <form action="#" method="POST">
            {% csrf_token %}
            <p>
                <label>Nome do livro:</label>
                <input class="form-control" type="text" value="{{ livro.nome }}">
            </p>
                <label>Autor:</label>
                <input style="width: 40%" class="form-control" type="text" value="{{ livro.autor }}">
            <p>
                <label>Co-autor:</label>
                <input style="width: 40%" class="form-control" type="text" value="{{ livro.co_autor }}">
            </p>
                <label>Data:</label>
                <input style="width: 40%" class="form-control" type="text" value="{{ livro.data_cadastro }}">
            <br>
            <p>
                <label>Emprestado &nbsp; &nbsp;</label>
                {% if livro.emprestado %}
                    <input style="transform : scale(2.0);" type="checkbox" checked name="emprestado">
                {% else %}
                    <input style="transform : scale(2.0);" type="checkbox" name="emprestado">
                {% endif %}
            </p>
            <br>
            <p>
                <label style="display: inline;">Categoria:</label>
                <select style="width: 20%; display: inline;" class="form-select" name="categoria">
                    {% for  categoria  in categorias %}
                        {% if livro.categoria == categoria %}
                            <option value="{{ categoria.id }}" selected>{{ categoria }}</option>
                        {% else %}
                            <option value="{{ categoria.id }}">{{ categoria }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <br>
            <input class="form btn btn-success" type="submit" value="Salvar">
        </form>
        <hr>
        <h1>Histórico de empréstimo</h1>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Nome emprestado</th>
                <th scope="col">Nome emprestado anônimo</th>
                <th scope="col">Data empréstimo</th>
                <th scope="col">Data devolução</th>
                <th scope="col">Tempo duração</th>
              </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <th scope="row">{{ emprestimo.nome_emprestado }}</th>
                        <th scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        <td>{{ emprestimo.data_devolucao }}</td>
                        <td>{{ emprestimo.data_devolucao|mostra_duracao:emprestimo.data_emprestimo }}</td>
                        

                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
{% endblock  %}