{% extends 'base.html' %}
{% load filtros %}

{% block 'title' %}Informações do livro{% endblock  %}

{% block 'content' %}
    <div class="modal fade" id="excluirLivro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="excluirLivroLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="excluirLivroLabel">Excluir</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Deseja mesmo excluir o livro {{ livro.nome }} ?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'excluir_livro' livro.id %}" class="btn btn-danger">Excluir</a>
            </div>
        </div>
        </div>
    </div>

    <div class='container'>
        <br>
        <form action="#" method="POST">
            {% csrf_token %}
            <p>
                <label>Nome do livro:</label>
                <input class="form-control" type="text" value="{{ livro.nome }}">
            </p>
            <p>
                <label>Autor:</label>
                <input style="width: 40%" class="form-control" type="text" value="{{ livro.autor }}">
                <br>
                <label>Co-autor:</label>
                <input style="width: 40%" class="form-control" type="text" {% if livro.co_autor == none %} value="" {% else %} value="{{ livro.co_autor }}" {% endif %}>
            </p>
            <p>
                <label>Data:</label>
                <input style="width: 40%" class="form-control" type="text" value="{{ livro.data_cadastro }}">
            <br>
            <p>
                <label>Emprestado &nbsp; &nbsp;</label>
                {% if livro.emprestado %}
                    <input style="transform : scale(2.0);" type="checkbox" checked name="emprestado">
                {% else %}
                    <input style="transform : scale(2.0);" type="checkbox" name="emprestado">
                {% endif %}
            </p>
            <br>
            <p>
                <label style="display: inline;">Categoria:</label>
                <select style="width: 20%; display: inline;" class="form-select" name="categoria">
                    {% for  categoria  in categorias %}
                        {% if livro.categoria == categoria %}
                            <option value="{{ categoria.id }}" selected>{{ categoria }}</option>
                        {% else %}
                            <option value="{{ categoria.id }}">{{ categoria }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <br>
            <input class="form btn btn-success" type="submit" value="Salvar">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluirLivro">Excluir</button>
        </form>
        <hr>
        <h1>Histórico de empréstimo</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome emprestado</th>
                    <th scope="col">Data empréstimo</th>
                    <th scope="col">Data devolução</th>
                    <th scope="col">Tempo duração</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <th style="display: none;" scope="row">{{ emprestimo.nome_emprestado }}</th>
                        <th style="display: none;" scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                        {% if emprestimo.nome_emprestado != none %}
                            <th style="display: block;" scope="row">{{ emprestimo.nome_emprestado }}</th>
                        {% else %}
                            <th style="display: block;" scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                        {% endif %}
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        
                        {% if emprestimo.data_devolucao %}
                            <td>{{ emprestimo.data_devolucao }}</td>
                        {% else %}
                            <td>Ainda não devolvido </td>
                        {% endif %}                        
                        <td> 
                        {% if  emprestimo.data_emprestimo and emprestimo.data_devolucao%}
                            {{ emprestimo.data_emprestimo|mostra_duracao:emprestimo.data_devolucao }}
                            {% else %}
                            <td></td>
                        {% endif %}
                        </td>



                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock  %}