{% extends 'base.html' %}
{% load filtros %}

{% block 'title' %}Informações do livro{% endblock  %}

{% block 'content' %}
    <div class="modal fade" id="excluirLivro" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="excluirLivroLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="excluirLivroLabel">Excluir</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Deseja mesmo excluir o livro {{ livro.nome }} ?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <a href="{% url 'excluir_livro' livro.id %}" class="btn btn-danger">Excluir</a>
            </div>
        </div>
        </div>
    </div>
    <div class='container'>
        <br>
        <form action="{% url 'alterar_livro' %}" method="POST">
            {% csrf_token %}
            <p>
                <label>Nome do livro:</label>
                <input class="form-control" type="text" value="{{ livro.nome }}" name="nome">
            </p>
            <p>
                <label>Autor:</label>
                <input style="width: 40%" class="form-control" type="text" value="{{ livro.autor }}" name="autor">
                <br>
                <label>Co-autor:</label>
                <input style="width: 40%" class="form-control" type="text" name="co_autor" {% if livro.co_autor == none %} value="" {% else %} value="{{ livro.co_autor }}" {% endif %}>
            </p>
            <p>
                <label style="display: inline;">Categoria:</label>
                <br>
                <select style="width: 20%; display: inline;" class="form-select" name="categoria_id">
                    {% for  categoria  in categorias %}
                        {% if livro.categoria == categoria %}
                            <option value="{{ categoria.id }}" selected>{{ categoria }}</option>
                        {% else %}
                            <option value="{{ categoria.id }}">{{ categoria }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </p>
            <p>
                <label>Data:</label>
                <br>
                {{ livro.data_cadastro }}"
            </p>
            <p>
                <label>Emprestado</label>
                {% if livro.emprestado %}
                    <svg style="color: green; display: inline;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                    </svg>
                {% else %}
                    <svg style="display: inline; color: red;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                    </svg>
                {% endif %}
            </p>
            <br>
            <br>
            
            
            <input type="hidden" value="{{ livro.id }}" id="livro_id" name="livro_id">
            <input type="hidden" value="{{request.user.id}}" id="usuario_id" name="usuario_id">


            <input class="form btn btn-success" type="submit" value="Salvar">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#excluirLivro">Excluir</button>
        </form>
        <hr>
        <h1>Histórico de empréstimo</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome emprestado</th>
                    <th scope="col">Data empréstimo</th>
                    <th scope="col">Data devolução</th>
                    <th scope="col">Tempo duração</th>
                </tr>
            </thead>
            <tbody>
                {% for emprestimo in emprestimos %}
                    <tr>
                        <th style="display: none;" scope="row">{{ emprestimo.nome_emprestado }}</th>
                        <th style="display: none;" scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                        {% if emprestimo.nome_emprestado != none %}
                            <th style="display: block;" scope="row">{{ emprestimo.nome_emprestado }}</th>
                        {% else %}
                            <th style="display: block;" scope="row">{{ emprestimo.nome_emprestado_anonimo }}</th>
                        {% endif %}
                        <td>{{ emprestimo.data_emprestimo }}</td>
                        
                        {% if emprestimo.data_devolucao %}
                            <td>{{ emprestimo.data_devolucao }}</td>
                        {% else %}
                            <td>Ainda não devolvido </td>
                        {% endif %}                        
                        <td> 
                        {% if  emprestimo.data_emprestimo and emprestimo.data_devolucao%}
                            {{ emprestimo.data_emprestimo|mostra_duracao:emprestimo.data_devolucao }}
                            {% else %}
                            <td></td>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}